h1 {
    color: chartreuse;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium; }

    h2 {
        color: lawngreen;
    }

    body {
        background-color: cornflowerblue;
    }

    .styledli {
        color: crimson (235, 199, 0) rgb(85, 148, 26);
        font-weight: 300;
        font-size: 18px;
    }

    .styleli {
        color: lawngreen;
    }

    .my-button{
        background-color: forestgreen;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;  
    }
            
       
    

    .images {
        width: 300px;
        height: 250px;
    
    }

    .gradient {
        background: linear-gradient(to right, darkseagreen, turquoise, cornflowerblue);
    }

    .photobox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        margin: 0 auto;
    }

    
